<div class="Container">
  <div class="Toolbar">
      <img src="../../../assets/LoanProjectLogo (1).png" class="logo">
      <div class="navbars">
          <a href="#" class="nav-items">Home</a>
          <a href="#" class="nav-items">About Us</a>
          <a href="#" class="nav-items">News</a>
          <a href="#" class="nav-items">Contact</a>
      </div>
</div>
<div class="body-content">
  <img src="../assets/visual-stories-micheile-ZVprbBmT8QA-unsplash.jpg" class="homebackground"> 
  <div class="Quotes">
    <h1 class="quote-text">Find The <br>Perfect Loan <br>For You...</h1>
    <span class="quote-text-description">Find your cheapest loan in minutes then click to apply instantly.It's free and wont affect your<br>credit score.</span><br>
    <button class="startButton" (click)="start()">FIND OUT MORE</button>
  </div>
</div>
</div>
